
body
{
 padding: 0;
 margin: 0;
 font-family:'Source sans Pro',Calibri,sans-cerif;
}

/*Partie Gauche */

.conteneur
{
    width: 800px;
    margin: 50px auto;
    font-size:16px;
    display: flex;
    border: 1px solid black;
}

.left
{
    background: #003366;
    width: 280px;
    padding: 40px 0px;      
}

.right
{
    width: 520px;
}

/* Mise en page Image */
.left .image
{
    text-align: center;
    padding: 50px 0;
}

.left .image img
{
    width: 200px;
    border-radius:100px;
}

/*Mise en page des gros titres */

h2
{
 font-size:24px;
 font-weight:700;
 text-transform:uppercase;
 color: white;
 position:relative;
 text-align: center;
 border: 1px solid silver ;
 background:silver;
 
}

li
{
    list-style-type: none;
}

/* Mise en page Contact */
.left .icon
{
    font-size: 30px;
    color:#003366;
}

.left .text
{
    color: white;
    font-size: 13px;
}

.contact .li-wrap
{
    display: flex;
    align-items:center;
    width: 100%;
    margin-bottom:20px ;
}

.contact .li-wrap .icon
{
    width: 40px;
    height:50px ;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;   
}

.contact .li-wrap .text
{
   margin-left: 10px;
   width:80px;
}
   
 /*Mise en page Profil*/
 .profil 
 {
    color: white;
    text-align:left;
    margin:19px;
 }
 
/*Mise en page Compétences et Loisirs */
.compétences ul,
.loisirs ul
{
    display :flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:0;
    padding-top:15px;
    margin:25px;
}

.compétences .li-wrap,
.loisirs .li-wrap
{
    width: 100px;
    height:100px;
    margin-bottom:15px;
    border-radius:15px;
    background:silver;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
     
}

.loisirs .li-wrap .text
{
    margin-top:5px;
}
.loisirs .li-wrap .icon,
.loisirs .li-wrap .text
{
    color: white;
}

.loisirs .li-wrap :hover
{
    background: silver;
}
.loisirs .li-wrap:hover .icon,
.loisirs .li-wrap:hover .text
{
    color:#003366;
}

/*la partie droite*/

/* Mise en page de l'En-Tête */
.header
{
    padding: 15px 30px;
    height:270px; 
}

.image-mobile img
{
 display:none;
}

h1
{
font-size: 40px;
font-weight:700;
color:#003366;
padding-top:30px;
}
h3
{
    font-size:20px;
    font-weight:300;
    color:#003366;
}


/*Mise en page du corps de la partie droite */
.conteneur-right
{
    padding:40px;
    color:#003366;
}

.conteneur-right .form-wrap
{
    padding-bottom:30px;
}
.conteneur-right .li-wrap
{
    display:flex;
    margin-bottom: 15px;
   
   
}

.conteneur-right .li-wrap .date
{
    width:125px;
    color:#003366;
    text-align:center;
    
}
.conteneur-right .li-wrap .info
{
    width:calc(100% - 125px);
    padding-left:25px;
    position:relative;
}

.conteneur-right .li-wrap .info-title
{
    font-weight:700;
    color: #003366;  

}
.conteneur-right .li-wrap .info-cont
{
    margin-top : 10px;
}

.conteneur-right .li-wrap .info :before
{
    content:"";
    position:absolute;
    top:3px;
    left:0;
    width:10px;
    height:10px;
    background:#003366;
    border-radius:50%;
}
.conteneur-right .li-wrap .info :after
{
    content:"";
    position:absolute;
    top: 10px;
    left: 4px;
    width:2px;
    height: 40px;
    background:#003366;  
}

/*Les recommandations*/
.recommandation .li-wrap .icon
{
    display: flex;
    width:20px;
   
}

/*Page web en Responsive */

  @media screen and (max-width:800px)
  {
  .conteneur
  {
      display:flex;
      flex-flow:wrap-reverse;
      width:100%;
      border:none;
      align-items:center;
      justify-content:center;
      margin:0;
  }
  
  .left
  {
      margin:0;
      padding:0;
      height:auto;
      width:100%;
  }
  .right
  {
      margin:0;
      padding:0;
      height:auto;
      width:100%
  }
 
  .left .image img
  {
   display:none;
  }
  
  .left .image
  {
   padding:5px;
  }
  .image-mobile img
  {
   display:block;
   width:150px;
   border-radius:200px;
   margin:auto;
   padding:35px;
  }
  
  .header
  {
   height:auto;
  }
  h1
  {
   padding-top:0;
  }
  h3
  {
   padding-bottom:50px;
  }
  .conteneur-right
  {
    padding:0;
    color:#003366;
    background:silver;
    border:1px solid #003366;
  }
  .conteneur-right h2
  {
   background:#003366;
   margin:15px;
  }
  .form-wrap ul,
  .exp-wrap ul
  {
    padding:15px;
  }

}