/*Page web en Responsive */
 @media screen and (max-width:800px)
  
/*Général */
{
 #conteneur
{
  display:flex;
  flex-flow:column wrap;
  width:100%;
  margin:auto;
  border:none;
}

 .left
{
  margin:0;
  padding:0;
  height:auto;
  width:100%;
}
  
 .right
{
  margin: 0px;
  padding:47px 0px;
  height:auto;
  width:100%;    
}
 
/*L'En-Tête du Cv */  
 header
{
  display:flex;
  flex-flow:column wrap;
  width:100%;
  margin:0;
  background:silver;
}
 
 .role
 {
  line-height:0
 }
 
 .role-hr
 {
  margin:7px;
  width:15%;
 }
 
 /*Corps du Cv */
 main
{
  width:100%;
  display:flex;
  flex-flow:wrap-reverse;
  background:silver;  
}
 
 .form-wrap ul,
 .exp-wrap ul
{
  padding:0;
}

 article,footer,h1,.role
{
  padding:7px;
} 
}
